@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --font-sans: var(--font-montserrat);
  --color-primary: #fe514e;
  --color-secondary: #999999;
  --color-tertiary: #7d37ff;
  --color-foreground: #e4e3e3;
  --color-background: #222222;
}

body {
  font-family: var(--font-montserrat);
  background-color: var(--color-background);
}

.table thead tr th {
  text-align: left;
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 0.9rem;
  padding-right: 1rem;
}

.table tr td {
  padding-top: 0.75rem;
  padding-right: 1rem;
}

.fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}
.animate-in {
  opacity: 0;
  transform: scale(0.6);
  animation: animate-in 0.3s ease-in-out forwards 0.3s;
}
.opacity-full {
  opacity: 0;
  animation: opacity-in 0.3s forwards;
}

.delay-100 {
  animation-delay: 0.2s;
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
  box-shadow: none;
}

.text-sm {
  font-size: 0.9rem;
}

@theme inline {
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

.shape {
  fill: white;
  opacity: 0.025;
}

.shape1 {
  filter: blur(20px);
}

.shape2 {
  filter: blur(20px);
}
