@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f34643;
  --foreground: #c7c7c7;
  --secondary: #666;
  --background: #242424;
}

.table thead tr th {
  text-align: left;
  color: var(--secondary);
  font-weight: 600;
  font-size: 0.9rem;
  padding-right: 1rem;
}
.table tr td {
  padding-top: 0.75rem;
  padding-right: 1rem;
}
.fade-in {
  animation: fade-in 0.3s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blur-out {
  animation: blur-out 1s ease-in-out forwards;
}
@keyframes blur-out {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(5px);
  }
}
.animate-fade-in-out {
  animation: fade-in-out 0.8s infinite;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
