@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(41, 41, 41);
  --foreground: rgb(164, 164, 164);
  --primary: rgb(248, 62, 62);
  --secondary: rgb(134, 134, 134);
}
