@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fe514e;
  --foreground: #e4e3e3;
  --secondary: #999999;
  --background: #242424;
}

@theme {
  --font-sans: var(--font-montserrat);
}

body {
  font-family: var(--font-montserrat);
  font-size: 15px;
}

.table thead tr th {
  text-align: left;
  color: var(--secondary);
  font-weight: 600;
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
}
.table tr td {
  padding-top: 0.75rem;
  padding-right: 1rem;
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.fade-in-slow {
  animation: fade-in 0.5s ease-in-out 0.3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
  box-shadow: none;
}
